<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Netflix Login Page | CodingNepal</title>
  <link rel="stylesheet" href="/css/home.css">

</head>

<body>
  <nav>
    <a href="#"><img src="image/image.png" alt="logo"></a>
  </nav>
  <div class="form-wrapper">
    <h2>Quên mật khẩu</h2>
    <form action="/reset-password" method="POST">
      <div class="form-control">
        <input type="text" name="email" required>
        <label>Email</label>
      </div>
      <button type="submit">Quên mật khẩu</button>
      <p style="padding-top: 8px; font-size: 14px;">Bạn đã có tài khoản? <a href="./login">Đăng nhập</a></p>
    </form>
  </div>
</body>

</html>